@model DateLayer.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="breadcrumbs-wrap">
                        <h1 class="breadcrumb-title">Forgot Password</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="pt-0">
        <div class="container">



            <div class="log_wrap">
                <h4>Forgot Password</h4>
                <div class="login-form">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label>
                            @Html.LabelFor(model => model.Email)
                        </label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-md full-width pop-login">Recovery</button>
                    </div>

                </div>
            </div>
        </div>


    </section>
 


}

