@model IEnumerable<DataLayer.Categories>

@{
    ViewBag.Title = "دسته بندی دوره ها";
    Layout = "~/Areas/Dashboard/Views/Shared/Dashboard_Layout.cshtml";
}
<div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-12 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>لیست دسته بندی ها</h4>
            </div>
            <div class="widget-inner">

                <p>
                    <a class="btn btn-outline-success" onclick="Create()">افزودن سرگروه جدید</a>
                </p>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            زیر گروه
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr id="group_@(item.CategoryID)">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @if (item.Categories1.Any())
                                {
                                    <a onclick="Show(@item.CategoryID)" class="btn btn-outline-primary btn-block"> نمایش / پنهان  </a>
                                    <ul class="sub-category-display" style="display:none" id="tabH_@item.CategoryID">
                                        @foreach (var subGroup in item.Categories1)
                                        {
                                            <li id="group_@(subGroup.CategoryID)" class="mb-3">
                                                @subGroup.Name
                                                <a class="text-warning" onclick="Edit(@subGroup.CategoryID)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="text-danger" onclick="Delete(@subGroup.CategoryID)">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </td>
                            <td>
                                <a class="text-success" onclick="Create(@item.CategoryID)">
                                    <i class="fa fa-plus fa-2x"></i>
                                </a>
                                <a class="text-warning mx-2" onclick="Edit(@item.CategoryID)">
                                    <i class="fa fa-edit fa-2x"></i>
                                </a>
                                <a class="text-danger" onclick="Delete(@item.CategoryID)">
                                    <i class="fa fa-trash fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </table>
            </div>
        </div>
    </div>
    <!-- Your Profile Views Chart END-->
</div>

<!-- Modal -->
<div class="modal modal-success fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBody">


            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script>

        function Create(parentId) {
            $.get("/Dashboard/Categories/Create/" + parentId,
                function (result) {
                    $("#myModal").modal();
                    $("#myModalLabel").html("افزودن دسته بندی جدید");
                    $("#myModalBody").html(result);
                });
        }

        function Edit(id) {
            $.get("/Dashboard/Categories/Edit/" + id,
                function (result) {
                    $("#myModal").modal('show');
                    $("#myModalLabel").html("ویرایش گروه");
                    $("#myModalBody").html(result);
                });
        }

        function Delete(id) {
            swal({
                title: "آیا از حذف مطئن هستید؟",
                text: "بعد از حذف امکان بازگشت وجود ندارد",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.get("/Dashboard/Categories/Delete/" + id,
                            function () {
                                $("#group_" + id).hide('slow');
                            });
                        swal("حذف با موفقیت انجام شد", {
                            icon: "success",
                        });
                    }
                });

        }

        function Show(id) {
            $("#tabH_" + id).slideToggle("slow");
        }
    </script>

}
